//
// Toutatice CMS - File browser
// --------------------------------------------------


@screen-sm-min: 768px;
@screen-xs-max: (@screen-sm-min - 1);


.file-browser {
    
    .flaticon {
        font-size: 20px;
    }
    
    
    // Selectable
    .selectable {
        .user-select(@select: none);
    }
    
    
    // Selectable : selected
    .ui-selected {
        .transition-property(@transition-property: opacity);
        .transition-duration(@transition-duration: 200ms);
        
        span, a {
            color: #fff;
        }
        
        .document-icon {
            ~ * {
                position: relative;
                
                &::before {
                    content: "\00a0";
                
                    visibility: hidden;
                }
                
                > * {
                    position: absolute;
                    left: 0;
                    z-index: 2;
                    
                    max-width: 100%;
                    
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        
        ~ .draggable {
            visibility: visible;
        }
        
        &.dragged {
            &, & ~ .draggable {
                opacity: 0.3;
            }
        }
    }
    
    
    // Draggable
    .draggable {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
        
        visibility: hidden;
    }
    
    
    // Helper
    .helper {
        .panel {
            position: relative;
            z-index: 10;
        }   
    }
    
    
    // Droppable
    .droppable-hover {
        margin: -2px;
        
        border-style: solid;
        border-width: 2px;
    }
    
    
    // Fancybox gallery
    .fancybox-gallery {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        visibility: hidden;
    }
    
    
    // Affix
    .file-browser-affix-container {
        @media screen and (min-width: @screen-sm-min) {
            height: 30px;
        }

        .file-browser-affix {
            z-index: 3;
            
            &::after {
                content: "\00a0";
            }
            
            &.affix-top, &.affix-bottom {
                position: absolute;
            }
            
            &.affix {
                top: 55px;
            }
            
            @media screen and (max-width: @screen-xs-max) {
                height: 60px;
                
                &, &.affix-top, &.affix, &.affix-bottom {
                    position: fixed;
                    top: auto;
                    bottom: 5px;
                    left: auto;
                    right: 15px;
                }
            }
        }
    }
    
    
    // Toolbar
    .btn-toolbar {
        display: none;
        
        margin-bottom: 0;
        
        .btn-group {
            background-color: #fff;
            border-radius: 3px;
            
            .box-shadow(@shadow: 0 1px 1px fade(#000, 5%));
        }
    }
    
    
    // File upload
    .drop-zone {
        position: relative;
        min-height: 140px;
        
        .file-upload-shadowbox {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 100;
            
            display: none;
            margin: 0;
            padding: 0;

            opacity: 0.6;
            
            & > div {
                padding: 0 30px;
            }
        }
        
        &.in {
            .file-upload-shadowbox {
                display: block;
            }
        }
        
        &.hover {
            .file-upload-shadowbox {
                background-color: inherit;
            }
        }
    }    
    
    
    // View lines
    .file-browser-lines {
        @border-color: #ddd;
        @cell-padding: 8px;
        @line-height: 32px;
        
        .row {
            margin: 0;
            
            > * {
                padding: 0;
            }
        }
        
        .table-header {
            .table-cell {
                font-weight: bold;
                
                a {
                    display: inline-block;
                    
                    color: inherit;
                }     
            }
            
            @media screen and (max-width: @screen-xs-max) {
                &.table-row {
                    padding-bottom: 0;
                }
                
                .table-cell {
                    margin-bottom: @cell-padding;
                }
            }
        }
        
        .table-body {
            li {
                position: relative;
            }
            
            .table-cell {
                line-height: @line-height;
            }
        }
        
        .table-row {
            padding: @cell-padding 0;
            
            border-bottom-style: solid;
            border-width: 1px;
            border-color: @border-color;
            
            &.table-header {
                border-width: 2px;
            }
        }
        
        .table-cell {
            padding: 0 @cell-padding;
        }
    
    
        .document-index {
            float: left;
            width: 35px;
        }
    
    
        .document-icon {
            float: left;
            width: @line-height;
            margin-right: @cell-padding;
    
            text-align: center;
            
            > * {
                color: #333;
                background-color: #fff;
                border-radius: 50%;
    
                &.folderish {
                    color: #fff;
                    background-color: #333;
                }
            }
        }
    
    
        .avatar {
            display: none;
        }

        
        // Draggable
        .draggable {
            border-bottom-style: solid;
            border-width: 1px;
        }
        
        
        // Helper
        .helper {
            .panel {
                .panel-body {
                    padding: @cell-padding;
                    
                    .table-body .table-cell;
                }
            }   
        }
        
        
        // Droppable
        .droppable-hover {
            .table-row {
                border-color: transparent;
            }
        }
    }
    
    
    // View thumbnails
    .file-browser-thumbnails {
        @thumbnail-height: 100px;
        
        margin-top: 10px;
        
        ul {
            li {
                margin-bottom: 20px;
                
                > div {
                    position: relative;
                    
                    > *, .droppable {
                        border-radius: 4px;
                    }
                }
            }
        }
        
        
        .thumbnail {
            margin-bottom: 0;
            
            .img-container {
                position: relative;
                
                height: @thumbnail-height;
                
                background-color: #fff;
                
                img {
                    max-height: 100%;
                    
                    margin: auto;
                }

                i {
                    &.flaticon {
                        font-size: @thumbnail-height;                        
                    }
                    
                    &:not(.flaticon) {
                        margin-top: 20px;
                        
                        font-size: @thumbnail-height - (2 * 20px);
                    }
                }
            }
        }
        
        
        .document-icon {
            float: left;
            height: 20px;
            
            margin-right: 9px;
            
            .flaticon {
                top: 0;
            }
        }
        
        
        .ui-selecting, .ui-selected, .droppable-hover {
            .thumbnail {
                background-color: transparent;
            }
        }
        
        
        // Selectable : selected
        .ui-selected {
            .thumbnail {
                .img-container {
                    color: #333;
                }
                
                .caption {
                    color: #fff;
                }
            }
        }
        
        
        // Draggable
        .draggable {
            border-style: solid;
            border-width: 1px;
        }
    }
}


.box-shadow(@shadow) {
    -webkit-box-shadow: @shadow;
            box-shadow: @shadow;
}

.transition-property(@transition-property) {
  -webkit-transition-property: @transition-property;
          transition-property: @transition-property;
}

.transition-duration(@transition-duration) {
  -webkit-transition-duration: @transition-duration;
          transition-duration: @transition-duration;
}

.user-select(@select) {
  -webkit-user-select: @select;
     -moz-user-select: @select;
      -ms-user-select: @select; // IE10+
          user-select: @select;
}
