//
// Toutatice CMS - File browser
// --------------------------------------------------


// Define the breakpoints at which your layout will change, adapting to different screen sizes.
@screen-sm-min:              768px;
@screen-md-min:              992px;
@screen-lg-min:              1200px;
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);



@file-browser-line-height: 32px;

.file-browser {

    th {
        &.small {
            width: 1%;
        }
        
        &.medium {
            width: 20%;
        }
    }
    

    .table > tbody > tr > td {
        line-height: @file-browser-line-height;
        vertical-align: middle;
        
        &.icon {
            padding-right: 0;
            
            & > div {
                height: @file-browser-line-height;
                width: @file-browser-line-height;
                
                font-size: floor(@file-browser-line-height * 0.8);
                text-align: center;
                
                &.folderish {
                    border-radius: floor(@file-browser-line-height / 2);
                    font-size: inherit;
                }
                
                &.file {
                    .thumbnail {
                        margin-bottom: 0;
                        padding: 0;
                        
                        color: inherit;
                        text-decoration: none;
                        line-height: @file-browser-line-height - 2px;
                    }
                }
            }
        }
        
        .avatar {
            height: @file-browser-line-height;
            max-height: inherit;
            max-width: inherit;
        }
        
        @media screen and (min-width: @screen-sm-min) {
            .cell-container {
                position: relative;
                
                .content {
                    position: absolute;
                    
                    max-width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                
                .spacer {
                    height: 0;
                    overflow: hidden;
                }
            }
        }
    }

    .draggable-helper {
        display: block;
        padding: 6px 12px;

        border-radius: 4px;
        
        & > div {
            display: table-cell;
            line-height: @file-browser-line-height;
            
            &:first-of-type {
                height: @file-browser-line-height;
                width: @file-browser-line-height;

                background-color: #fff;
                border-radius: floor(@file-browser-line-height / 2);
                text-align: center;

                & ~ div {
                    padding-left: 12px;
                    
                    color: #fff;
                }  
            }
        }
    }

    .droppable-hover {
    }
    
    .drop-zone {
        position: relative;
        min-height: 140px;
        
        .file-upload-shadowbox {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 100;
            
            display: none;
            margin: 0;
            padding: 0;

            opacity: 0.6;
            
            & > div {
                padding: 0 30px;
            }
        }
        
        &.in {
            .file-upload-shadowbox {
                display: block;
            }
        }
        
        &.hover {
            .file-upload-shadowbox {
                background-color: inherit;
            }
        }
    }
}
