<?xml version="1.0" encoding="UTF-8" ?>
<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

	<display-name>Nuxeo Portlets</display-name>

	<description>
		This application is a portlet. It can not be used outside a portal.
		This web.xml file is mandatory in each .par archive file.
	</description>


	<servlet>
		<servlet-name>ThumbnailServlet</servlet-name>
		<servlet-class>fr.toutatice.portail.cms.nuxeo.portlets.thumbnail.ThumbnailServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ThumbnailServlet</servlet-name>
		<url-pattern>/thumbnail/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>SitePictureServlet</servlet-name>
		<servlet-class>fr.toutatice.portail.cms.nuxeo.portlets.site.SitePictureServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SitePictureServlet</servlet-name>
		<url-pattern>/sitepicture/*</url-pattern>
	</servlet-mapping>
    
    
   	<servlet>
		<servlet-name>BinaryServlet</servlet-name>
		<servlet-class>fr.toutatice.portail.cms.nuxeo.portlets.binaries.BinaryServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BinaryServlet</servlet-name>
		<url-pattern>/binary/*</url-pattern>
	</servlet-mapping>
    
    
    <servlet>
        <servlet-name>AvatarServlet</servlet-name>
        <servlet-class>fr.toutatice.portail.cms.nuxeo.portlets.avatar.AvatarServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AvatarServlet</servlet-name>
        <url-pattern>/avatar/*</url-pattern>
    </servlet-mapping>
    
	<servlet>
        <servlet-name>StreamingServlet</servlet-name>
        <servlet-class>fr.toutatice.portail.cms.nuxeo.portlets.streaming.StreamingServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>StreamingServlet</servlet-name>
        <url-pattern>/streaming/*</url-pattern>
    </servlet-mapping>
	
    
    
    
    <jsp-config>
        <taglib>
            <taglib-uri>osivia-portal</taglib-uri>
            <taglib-location>theme/osivia-portal.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>internationalization</taglib-uri>
            <taglib-location>theme/internationalization.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>toutatice</taglib-uri>
            <taglib-location>/WEB-INF/tld/toutatice.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>vocabulary-selector</taglib-uri>
            <taglib-location>/WEB-INF/tld/vocabulary-selector.tld</taglib-location>
        </taglib>
    </jsp-config>
	
</web-app>

