<?xml version="1.0" encoding="UTF-8" ?>
<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">

	<display-name>Nuxeo Portlets</display-name>

	<description>
		This application is a portlet. It can not be used outside a portal.
		This web.xml file is mandatory in each .par archive file.
	</description>


	<servlet>
		<servlet-name>ThumbnailServlet</servlet-name>
		<servlet-class>fr.toutatice.portail.cms.nuxeo.portlets.thumbnail.ThumbnailServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ThumbnailServlet</servlet-name>
		<url-pattern>/thumbnail/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>SitePictureServlet</servlet-name>
		<servlet-class>fr.toutatice.portail.cms.nuxeo.portlets.site.SitePictureServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SitePictureServlet</servlet-name>
		<url-pattern>/sitepicture/*</url-pattern>
	</servlet-mapping>
    
    
   	<servlet>
		<servlet-name>BinaryServlet</servlet-name>
		<servlet-class>fr.toutatice.portail.cms.nuxeo.portlets.binaries.BinaryServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>BinaryServlet</servlet-name>
		<url-pattern>/binary/*</url-pattern>
	</servlet-mapping>
    
    
    <servlet>
        <servlet-name>AvatarServlet</servlet-name>
        <servlet-class>fr.toutatice.portail.cms.nuxeo.portlets.avatar.AvatarServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AvatarServlet</servlet-name>
        <url-pattern>/avatar/*</url-pattern>
    </servlet-mapping>
    
    
	<servlet>
        <servlet-name>StreamingServlet</servlet-name>
        <servlet-class>fr.toutatice.portail.cms.nuxeo.portlets.streaming.StreamingServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>StreamingServlet</servlet-name>
        <url-pattern>/streaming/*</url-pattern>
    </servlet-mapping>
	

    <jsp-config>
        <taglib>
            <taglib-uri>vocabulary-selector</taglib-uri>
            <taglib-location>/WEB-INF/tld/vocabulary-selector.tld</taglib-location>
        </taglib>
    </jsp-config>
	
</web-app>

