
/* Search */

.nuxeo-results-search li > img {
    margin-right: 3px;
}

.nuxeo-results-search li > div {
	overflow: hidden;
}



/* Document */

.document .metadata .media-left img {
	max-height: 60px;
}



/* Document comments */

.comments .comment .children {
	margin-left: 30px;
}

.comments .comment .children .comment {
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 15px;
    
    border-color: #eee;
    border-width: 1px;
    border-top-style: solid;
}





/* Modif-FILEBROWSER-begin */

.delete-file-item {
	text-align: center;
    vertical-align: middle;
}

.portlet-menuitem-nuxeo-add {
	background:#FFFFF4 url(../img/add.gif) 1px 2px no-repeat;
}

.portlet-menuitem-nuxeo-delete {
	background:#FFFFF4 url(../img/delete.gif) 1px 2px no-repeat;
}

.doc-type-title {
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
}
/* Modif-FILEBROWSER-end */
	


/* Keywords selector */

.nuxeo-keywords-selector .table {
    display: table;
    border-spacing: 0 2px;
}

.nuxeo-keywords-selector .table-row {
    display: table-row;
}

.nuxeo-keywords-selector .table-cell {
    display: table-cell;
    vertical-align: middle;
}

.nuxeo-keywords-selector .table-cell.input-text {
	padding-right: 8px;
}

.nuxeo-keywords-selector .table-cell input[type="text"] {
	width: 100%;
}

.nuxeo-keywords-selector .table-cell.input-date input[type="text"] {
    width: 44%;
}

.nuxeo-keywords-selector .table-cell input[type="image"] {
	width: 16px;
	padding-left: 5px;
}

.nuxeo-keywords-selector .table-cell a.delete {
	display: block;
	background-image: url("../img/delete.gif");
	background-repeat: no-repeat;
	background-position: right;
	height: 16px;
	width: 16px;
	padding-left: 5px;
}
