
/* Explorateur de fichiers */


div.nuxeo-file-browser .header	{
	padding: 8px;
}


div.nuxeo-file-browser div.switch-display-mode	{
	text-align: right;
}

div.nuxeo-file-browser div.file-detail	{
	min-height: 80px;
	padding: 8px;
}


div.nuxeo-file-browser	.nuxeo-file-list .separateur {
	background: #CECECE;
	height: 1px;
	padding: 0;
	margin: 0;
}



div.nuxeo-file-browser div.vignette	{
	float:left;
	width: 100px;
	margin-right:10px;
}


div.nuxeo-file-browser div.vignette img	{
	max-width: 100px;
	display: block;
    margin-left: auto;
    margin-right: auto
}


div.nuxeo-file-browser div.file-detail .main	{
	float:left;
	width: 300px;
	margin-left:10px;	
}

div.nuxeo-file-browser div.file-detail .main .description	{
	padding-top:10px;
}

div.nuxeo-file-browser div.file-detail .detail	{
	float:left;
	width: 250px;
}

div.nuxeo-file-browser div.file-detail dl dt	{
	width: 100px;
	display:block;
	float:left;
}

div.nuxeo-file-browser div.file-detail dl dd	{
	font-weight:bold;
	display:block;
}



div.file-actions-menu .ajax-waiting {
    background-image: url("../img/waiting24.gif");
    border: 0px;
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
    width: 24px;
    height: 24px;
}


div.nuxeo-file-browser .file-item-selected {
	background-color: #E4E4EC;
}

span.file-name {
	float: left;
}

div.nuxeo-file-browser div.file-actions {
    background-image: url("../img/dropdown.png");
    background-repeat: no-repeat;
    background-position: 8px 0;
    height: 18px;
    visibility: hidden;
    float: left;
    width: 40px;
}

div.file-actions-menu	{
	position: absolute;
	visibility: hidden;
    z-index: 100;	
    background-color: #F4F4FC;
 	background-image: url("../img/dropdown.gif");
    background-repeat: no-repeat;  
    border: 1px solid #333333;   
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 15px; 
    padding-right: 10px; 
    margin-left: 10px; 
    width: auto; 
}

div.file-actions-menu .ajax-waiting {
    background-image: url("../img/waiting24.gif");
    border: 0px;
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
    width: 24px;
    height: 24px;
}


#portal-container div.file-actions-menu a	{
	color: #020202;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;	
}



/* Navigation publication */

.nuxeo-publish-navigation nav > a {
	margin-bottom: 3px;
}

.nuxeo-publish-navigation li {
	position: relative
}

.nuxeo-publish-navigation li button {
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 3;
}

.nuxeo-publish-navigation ul ul li button {
	left: 8px;
}

.nuxeo-publish-navigation li a {
	padding-left: 47px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.nuxeo-publish-navigation li a.current {
    font-weight: bold;
}

@media screen and (min-width: 768px) {
	.nuxeo-publish-navigation li button {
	    top: 9px;
	    font-size: 12px;
	    padding: 1px 5px;
	}
	
	.nuxeo-publish-navigation li a {
	    padding-left: 30px;
	}
}




/* Search */

.nuxeo-results-search li > img {
    margin-right: 3px;
}

.nuxeo-results-search li > div {
	overflow: hidden;
}



/* Document */

.document .metadata .img-thumbnail {
	height: 60px;
}



/* Document comments */

.comments .comment .children {
	margin-left: 30px;
}

.comments .comment .children .comment {
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 15px;
    
    border-color: #eee;
    border-width: 1px;
    border-top-style: solid;
}





/* Modif-FILEBROWSER-begin */

.delete-file-item {
	text-align: center;
    vertical-align: middle;
}

.portlet-menuitem-nuxeo-add {
	background:#FFFFF4 url(../img/add.gif) 1px 2px no-repeat;
}

.portlet-menuitem-nuxeo-delete {
	background:#FFFFF4 url(../img/delete.gif) 1px 2px no-repeat;
}

.doc-type-title {
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
}
/* Modif-FILEBROWSER-end */
	


/* Keywords selector */

.nuxeo-keywords-selector .table {
    display: table;
    border-spacing: 0 2px;
}

.nuxeo-keywords-selector .table-row {
    display: table-row;
}

.nuxeo-keywords-selector .table-cell {
    display: table-cell;
    vertical-align: middle;
}

.nuxeo-keywords-selector .table-cell.input-text {
	padding-right: 8px;
}

.nuxeo-keywords-selector .table-cell input[type="text"] {
	width: 100%;
}

.nuxeo-keywords-selector .table-cell.input-date input[type="text"] {
    width: 44%;
}

.nuxeo-keywords-selector .table-cell input[type="image"] {
	width: 16px;
	padding-left: 5px;
}

.nuxeo-keywords-selector .table-cell a.delete {
	display: block;
	background-image: url("../img/delete.gif");
	background-repeat: no-repeat;
	background-position: right;
	height: 16px;
	width: 16px;
	padding-left: 5px;
}
