<settings>
    <proxies>
        <proxy>
            <id>optional</id>
            <active>false</active>
            <protocol>http</protocol>
            <username>proxyuser</username>
            <password>proxypass</password>
            <host>proxy.ac-rennes.fr</host>
            <port>3128</port>
            <nonProxyHosts>ac-rennes.fr,toutatice.fr</nonProxyHosts>
        </proxy>
    </proxies>

    <mirrors>
        <mirror>
            <id>Nexus2</id>
            <mirrorOf>central</mirrorOf>
            <url>http://projet.toutatice.fr/nexus/content/repositories/central</url>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>Nexus</id>
            <!--Enable snapshots for the built in central repo to direct -->
            <!--all requests to nexus via the mirror -->
            <repositories>
                <repository>
                    <id>central</id>
                    <url>http://projet.toutatice.fr/nexus/content/repositories/central</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
                <repository>
                    <id>toutatice-releases</id>
                    <url>http://projet.toutatice.fr/nexus/content/repositories/toutatice-releases</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </repository>
                <repository>
                    <id>toutatice-snapshots</id>
                    <url>http://projet.toutatice.fr/nexus/content/repositories/toutatice-snapshots</url>
                    <releases><enabled>false</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
              </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>http://projet.toutatice.fr/nexus/content/repositories/central</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>

    <profile>
    	  <id>deploy-toutatice-modules</id>
          <properties>
             <toutatice-portail-runtime-dir>/home/jeanseb/runtimes/toutatice</toutatice-portail-runtime-dir>
          </properties>
     </profile>

    <profile>
       <id>pack-portal</id>
	    <activation>
	    	<activeByDefault>true</activeByDefault>
	    </activation>
          <properties>
             	<portal-epp-file>/home/jeanseb/distributions/jboss-epp-4.3.GA_CP06.zip</portal-epp-file>
		<portal-pack-dir>/home/jeanseb/distributions</portal-pack-dir>
  	  </properties>
    </profile>
 
    </profiles>

    <activeProfiles>
        <activeProfile>Nexus</activeProfile>
 	<activeProfile>deploy-toutatice-modules</activeProfile> 
    </activeProfiles>

    <servers>
        <server>
            <id>toutatice-snapshots</id>
            <username>jean-sebastien.steux</username>
            <password>STEUX</password>
        </server>
        <server>
            <id>toutatice-releases</id>
            <username>jean-sebastien.steux</username>
            <password>STEUX</password>
        </server>
    </servers>

</settings>
